* {
    box-sizing: border-box;
    margin: 0;
}

html {
    width: 900px;
    margin: 0 auto;
}

/************NAV BAR************/
nav {
    padding: 1px;
    background-color: #222;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    gap: 1em;
    list-style: none;
}

a {
    text-decoration: none;
    color: #4ed54c;
}
/*******************************/

body {
    background-color: #111;
    color: #4ed54c;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

}

.week {
    background-color: #222;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

h3 {
    padding: 10px;
    color: #4ed54c;
}

